#family-tree-wrapper{data: { controller: 'family-tree' }}
  = icon 'spinner', ['loading', 'fa-spin', 'fa-2xl']
  #search-wrapper
    .row.mt-3
      .col.col-md-2
        .input-group
          %input.form-control{placeholder: t('datagrid.form.search'), type: 'text'}/
          %button.btn.btn-primary{type: 'button', data: { action: 'click->family-tree#search' }}
            = t('datagrid.form.search')
  %svg#family-tree
    %g#scene
      %g#connector-lines
