.card.mt-3
  .card-body
    %h1 Satzung des von Tiedemannschen Familienverbandes

    %p
      Satzung des von Tiedemannschen Familienverbands (im Folgenden Familienverband genannt), in der
      Fassung vom 19.10.1974 nach Beschluss der Familienversammlung in Arnsburg, geändert bzw.
      ergänzt am 26.04.1997; i. d. Neufassung beschlossen in Höhnscheid am 04.07.2026.
      Zur besseren Lesbarkeit wird in dieser Satzung das generische Maskulinum verwendet. Die
      verwendeten Personenbezeichnungen beziehen sich - sofern nicht anders kenntlich gemacht - auf
      alle Geschlechter.

    %h2 § 1 Zweck
    %p
      Der Familienverband soll die Zusammengehörigkeit, die durch die gemeinsame Abstammung
      gegeben ist, zwischen den Familienmitgliedern beleben und erhalten, einen Austausch in
      gutem Einvernehmen fördern zur Pflege sozialer und verwandtschaftlicher Beziehungen
      beitragen und die Familiengeschichte und dafür relevante Dokumente pflegen und erhalten.
      Dabei ist es ausdrückliches Ziel, Kinder und Jugendliche mit einzubeziehen.
      Um diesem Zweck zu dienen, findet möglichst einmal jährlich ein Familientag statt. Der
      Familientag sollte als Rahmen für die jährliche Familienversammlung dienen. Zum
      Familientag werden alle Mitglieder eingeladen, Gäste sind willkommen.

    %h2 § 2 Sitz des Verbandes
    %p
      Der Sitz des Verbandes ist grundsätzlich am Wohnort des Vorsitzenden, muss aber stets in
      der Bundesrepublik Deutschland (BRD) liegen. Sollte der Wohnsitz des Vorsitzenden
      ausserhalb der BRD sein, ist der Wohnsitz des 2. Vorsitzenden, falls dieser den Wohnsitz
      ausserhalb der BRD hat, der des Schatzmeisters, falls dieser den Wohnsitz ausserhalb der BRD
      hat, der des Schriftführers Sitz des Verbandes.

    %h2 § 3 Rechtsform und Name
    %p
      Der Familienverband hat die Rechtsform eines nichtrechtsfähigen Vereins und führt den
      Namen "von Tiedemannscher Familienverband".

    %h2 § 4 Mitgliedschaft
    %p
      Mitglied kann auf Antrag werden: Jeder männliche oder weibliche Abkömmling des
      gemeinsamen Stammvaters Ferdinand von Tiedemann, geboren 06.10.1691, gestorben
      09.09.1749, aus seiner Ehe mit Florentina Concordia von Tiedemann, geb. von Brandis, nach
      Erreichung der Volljährigkeit, sofern er/sie den Namen von Tiedemann trägt. Dies gilt
      gleichermassen für weibliche oder männliche Abkömmlinge, wenn sie heiraten und nicht
      mehr den Namen von Tiedemann tragen, sowie für Ehefrauen und Ehemänner der oben
      genannten Abkömmlinge, und deren Kinder, unabhängig davon, welchen Namen sie tragen.

    %p
      Adoptivkinder von Mitgliedern sind Mitgliedern gemäss §4, Abs. 1 gleichgestellt.

    %p
      Der Antrag auf Mitgliedschaft erfolgt formlos und ist schriftlich an den Familienrat zu
      richten. Dieser befindet darüber und schlägt das neue Mitglied der Familienversammlung
      vor. Diese kann den Antrag aus triftigen Gründen ablehnen. Mit dem Antrag auf
      Mitgliedschaft erkennt der Antragsteller die Satzung an.

    %h2 § 5 Organe
    %p Organe des Familienverbandes sind:
    %ul
      %li Familienversammlung
      %li Familienrat

    %p
      Die Familienversammlung ist die beschliessende Versammlung aller Mitglieder des
      Familienverbandes. Die Familienversammlung sollte jährlich mindestens einmal stattfinden
      und nur in dringenden Fällen um ein Jahr verschoben werden. Zur Familienversammlung
      sind alle Mitglieder unter Bekanntgabe der Tagesordnung einzuladen. Die Einladung ist
      ordnungsgemäss erfolgt, wenn sie spätestens vier Wochen vor dem Tag der
      Familienversammlung schriftlich an die letzte, dem Familienrat bekannte Anschrift des
      Mitglieds versendet ist.

    %p
      Ausserordentliche Familienversammlungen können jederzeit durch den Familienrat oder auf
      Antrag von mindestens zehn Mitgliedern einberufen werden.
      Den Vorsitz auf der Familienversammlung führt der Vorsitzende des Familienverbandes bzw.
      sein Stellvertreter im Familienrat.

    %p
      Bei der Familienversammlung haben alle anwesenden Mitglieder Stimmrecht. Gäste können
      ohne Stimmrecht teilnehmen. Beschlüsse werden mit einfacher Stimmenmehrheit der
      vertretenen Stimmen gefasst. An der Teilnahme verhinderte Mitglieder dürfen andere
      stimmberechtigte Mitglieder durch schriftliche Vollmacht, die dem Versammlungsleiter
      vorzulegen ist, zur Stimmabgabe bevollmächtigen.

    %p
      Bei Stimmengleichheit entscheidet die Stimme des Vorsitzenden.
      Die Familienversammlung ist ohne Rücksicht auf die Zahl der erschienenen Mitglieder
      beschlussfähig.

    %p
      Für Neuaufnahmen, Ausschlüsse und Satzungsänderungen ist eine Zweidrittelmehrheit der
      vertretenen Stimmen erforderlich.

    %p
      Schriftliche Anträge müssen mindestens 14 Tage vor der Familienversammlung beim
      Vorsitzenden eingereicht werden.

    %p
      In Ausnahmefällen kann der Familienrat eine schriftliche Abstimmung herbeiführen. In
      diesem Fall soll eine Antwortfrist von vier Wochen anberaumt werden. Nichtbeantwortung
      wird als Enthaltung gewertet.

    %p
      Über den Verlauf der Familienversammlung ist vom Schriftführer ein Protokoll anzufertigen,
      dessen wichtigste Punkte in angemessener Frist allen Mitgliedern schriftlich mitgeteilt
      werden sollen.

    %p Der Familienrat setzt sich aus mindestens vier Mitgliedern zusammen:
    %ul
      %li Vorsitzenden
      %li Stellvertreter
      %li Schriftführer
      %li Schatzmeister

    %p
      Der Vorsitzende kann nach eigenem Ermessen bis zu drei weitere Mitglieder als Beisitzer in
      den Familienrat berufen und sie mit besonderen Aufgaben betrauen.
      Der Familienrat wird von der Familienversammlung jeweils für die Dauer von vier Jahren
      gewählt. Wiederwahl ist zulässig.

    %p
      Der Familienrat führt die Geschäfte des Familienverbandes. Er vertritt den Familienverband
      nach aussen. Zur gerichtlichen und aussergerichtlichen Vertretung sind berechtigt:
    %ul
      %li Der Vorsitzende allein
      %li oder jeweils zwei andere Mitglieder des Familienrats gemeinsam.

    %p
      Die Vertretungsmacht des Familienrats beschränkt sich auf das Vereins vermögen.
      Der Familienrat hat die Pflicht, enge Verbindung mit allen Mitgliedern zu halten und
      den familiären Kontakt im Sinne der Satzung (§ 1) durch möglichst zahlreiche
      Zusammenkünfte und die jährliche Herausgabe eines Nachrichtenblattes zu fördern.

    %p
      Der Familienrat entscheidet mit Stimmenmehrheit. Bei Stimmengleichheit gibt die Stimme
      des Vorsitzenden den Ausschlag. Der Familienrat ist beschlussfähig, wenn mindestens drei
      seiner Mitglieder anwesend sind.

    %h2 § 6 Haushaltsführung
    %ol
      %li
        Die Mitglieder zahlen Jahresbeiträge, deren Höhe den einzelnen überlassen bleibt.
        Mindestens ist jedoch der von der Familienversammlung festgesetzte Beitrag zu
        entrichten. Über Befreiung oder Ermässigung entscheidet auf Antrag der Familienrat.
      %li
        Der Familienrat stellt alljährlich im Voraus einen Haushaltsplan auf und legt ihn zur
        Genehmigung der Familienversammlung vor. Aufgrund dieses Haushaltsplans führt der
        Familienrat die laufenden Geschäfte und legt der nächsten Familienversammlung
        darüber Rechnung vor.
      %li
        Für die Kassenführung sollen jährlich zwei geeignete Mitglieder zu Kassenprüfern bestellt
        werden. Dem Familienrat ist aufgrund ihres Berichts von der Familienversammlung
        Entlastung zu erteilen.
      %li
        Das Vermögen des Familienverbandes soll nach den Grundsätzen ordnungsgemässer
        Wirtschaft angelegt und verwaltet werden. Jede Spekulation ist zu vermeiden. Der
        Erwerb von Grundbesitz und Wertpapieren ist zulässig. Über die Vermögensverwaltung
        ist im Rahmen des jährlichen Kassenberichts zu berichten.

    %h2 § 7 Beendigung der Mitgliedschaft
    %p
      Die Mitgliedschaft im Familienverband endet durch Tod, Austritt oder Ausschluss. Der
      Austritt wird mit Eingang einer schriftlichen Austrittserklärung beim Vorsitzenden oder
      einem anderen Mitglied des Familienrats, an dessen Wohnsitz sich der Sitz des Verbandes
      befindet, wirksam. Der Ausschluss eines Mitglieds kann bei groben Verstössen gegen die
      Satzung des Familienverbands, besonders gegen die in §1 aufgezeichneten Bestrebungen
      nach Prüfung durch den Familienrat und dessen Antrag durch die Familienversammlung
      erfolgen.

    %p
      Ein Mitglied kann durch Beschluss des Familienrats von der Mitgliederliste gestrichen werden, wenn
      es trotz schriftlicher Mahnung mit der Zahlung von zwei Jahresbeiträgen im Rückstand ist. In der
      Mahnung muss auf die mögliche Streichung von der Mitgliederliste hingewiesen werden. Die
      Streichung darf erst beschlossen werden, nachdem seit der Absendung des Mahnschreibens zwei
      Monate verstrichen sind. Die Streichung ist dem Mitglied mitzuteilen.

    %p
      In sehr gravierenden Fällen kann der Familienrat nach einstimmigem Beschluss den
      vorläufigen Ausschluss eines Mitglieds verfügen. Die endgültige Entscheidung bleibt stets der
      Familienversammlung vorbehalten.

    %h2 § 8 Auflösung
    %p
      Geht die Zahl der Mitglieder so weit zurück, dass der Familienrat nicht mehr besetzt werden
      kann, so übernimmt der Vorsitzende mit einem von ihm bestimmten Mitglied die Rechte
      und Pflichten des Familienrats, bis wieder Mitglieder hinzutreten. Eine vorzeitige Auflösung
      des Familienverbands kann mit Zweidrittelmehrheit der vertretenen Stimmen der
      Familienversammlung beschlossen werden. In diesem Fall wird das dann vorhandene
      Vermögen gleichmässig auf die Mitglieder verteilt.
