- if @event.present?
  = render partial: 'form', locals: {event: @event, registration: @registration, token: @token}
- else
  .alert.alert-danger.mt-3
    = t 'model.registration.error.only_with_token'
