// Place all the styles related to the randomizer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
@import "select2.css";
@import "select2-bootstrap.css";
@import "fontawesome.all.min.css";
@import "datagrid.scss";

.model-buttons {
  gap: 5px
}

.footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: white;
}

.select2-container {
  width: 100% !important;
}

#cookie-banner {
  position: absolute;
  bottom: 1em;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  @media (min-width: 768px) {
    right: 1em;
  }
}
