// Place all the styles related to the randomizer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
@import "actiontext.css";
@import "select2.css";
@import "select2-bootstrap.css";
@import "datagrid.scss";
@import "family-tree.scss";

.model-buttons {
  gap: 5px
}

.footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: white;
  font-size: 0.8rem !important;
}

.select2-container {
  width: 100% !important;
}

#cookie-banner {
  position: fixed;
  bottom: 1em;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  @media (min-width: 768px) {
    right: 1em;
  }
}

.ws-pre {
  white-space: pre;
}

trix-editor.article-editor {
  min-height: 80vh;
  max-height: 90vh;
  overflow-y: scroll;
}

trix-editor figure[data-trix-attributes*='"presentation":"small"'] img {
  width: 33%;
}

trix-editor figure[data-trix-attributes*='"presentation":"medium"'] img {
  width: 66%;
}

trix-editor figure[data-trix-attributes*='"presentation":"large"'] img {
  width: 100%;
}

.trix-content action-text-attachment[presentation='small'] .attachment img {
  width: 33%;
}

.trix-content action-text-attachment[presentation='medium'] .attachment img {
  width: 66%;
}

.trix-content action-text-attachment[presentation='large'] .attachment img {
  width: 100%;
}
