#cookie-banner{data: { controller: 'cookie-banner' }}
  %p
    = t 'messages.cookie.we_use_cookies'
  %button.btn.btn-primary.btn-block.w-100{data: { action: 'click->cookie-banner#accept' }}
    = icon 'check'
    = t 'messages.cookie.accept'
