!!! Strict
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv": "Content-Type"}
    %meta{name: "x-apple-disable-message-reformatting"}/
    %meta{content: "ie=edge", "http-equiv": "x-ua-compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "telephone=no, date=no, address=no, email=no", name: "format-detection"}/
    :css
      .logo img{
        max-height: 128px;
      }

      .devider{
        width: 100%;
        border: 1px solid gray;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
  %body
    .container.ax-center
      .logo.text-right
        = email_image_tag('logo.png')
      .content
        = yield
